@charset "utf-8";
body {
font-family: 'Nothing You Could Do', cursive;
}

#stundenplan {
    font-size: 100%;
    padding: 125px 90px 60px 90px;
    width: 720px;
    height: 510px;
    background-image: url(http://www.fjg-film.de/img/stundenplan.jpg);
}
#stundenplan tr th {
    color: transparent;
}
#stundenplan tr {
    height: 20px;
}
#stundenplan td {
    text-align: right;
   /* border: 2px solid blue; */
}
